/* Global Styles & Variables */

html {
  overflow-y: scroll;

  --game-spacing: 16px;
  --header-height: 4rem;
  --color-success: hsl(150deg 70% 30%);
  --color-warning: hsl(50deg 100% 30%);
  --color-error: hsl(0deg 70% 45%);
  --color-gray-100: hsl(0deg 0% 10%);
  --color-gray-300: hsl(0deg 0% 25%);
  --color-gray-500: hsl(0deg 0% 50%);
  --color-gray-700: hsl(0deg 0% 75%);
  --color-gray-900: hsl(0deg 0% 90%);
  --color-background: hsl(60deg 100% 97%);
}

body {
  font-family: sans-serif;
  background-color: var(--color-background);
}

@media (height <= 600px) {
  body {
    --game-spacing: 8px;
  }
}

button {
  margin: 0;
  padding: 0;
  border: none;
  text-align: left;
  color: inherit;
  background: transparent;
  cursor: pointer;
}

/* Layout */

.wrapper {
  display: flex;
  flex-direction: column;
}

.game-wrapper {
  display: grid;
  align-items: start;
  align-self: center;
  gap: var(--game-spacing);
  grid-template-rows: auto min-content min-content;
  width: min(98%, min(600px, 60vh));
  padding-top: var(--game-spacing);
}

/* Header */

header {
  display: flex;
  height: var(--header-height);
  border-bottom: 1px solid var(--color-gray-700);
  color: var(--color-gray-300);
  background-color: white;
}

header .side {
  display: grid;
  width: var(--header-height);
  place-content: center;
}

h1 {
  flex: 1;
  font-size: 2rem;
  line-height: var(--header-height);
  text-align: center;
}

@media (width <= 25rem) {
  h1 {
    font-size: 1.25rem;
  }
}

/* Word Grid */

.guess-results {
  display: flex;  
  flex-direction: column;
  flex: 0 1 auto;
}

.guess {
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
}

.cell {
  position: relative;
  width: 20%;
  aspect-ratio: 1 / 1;
  border: 2px solid var(--color-gray-700);
  border-radius: var(--radius);
  overflow: hidden;
}

.cell:first-of-type {
  --radius: 4px 0px 0px 0px;
}

.cell:last-of-type {
  --radius: 0px 4px 0px 0px;
}

.guess:first-of-type .cell:first-of-type {
  --radius: 4px 0px 0px 0px;
}

.guess:first-of-type .cell:last-of-type {
  --radius: 0px 4px 0px 0px;
}

.guess:last-of-type .cell:last-of-type {
  --radius: 0px 0px 4px 0px;
}

.guess:last-of-type .cell:first-of-type {
  --radius: 0px 0px 0px 4px;
}

.character {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  background-color: white;
  place-content: center;
}

.character.correct {
  color: white;
  background: var(--color-success);
}

.character.incorrect {
  color: white;
  background: var(--color-gray-300);
}

.character.misplaced {
  color: white;
  background: var(--color-warning);
}

/* Guess Input */

.guess-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: auto;;
}

.guess-input-wrapper label {
  font-size: 1.25rem;
}

.guess-input-wrapper input {
  display: block;
  width: 15ch;
  padding: 8px 16px;
  border: 2px solid var(--color-gray-300);
  border-radius: 4px;
  font-size: 2rem;
  text-align: center;
  outline-offset: 4px;
  box-sizing: border-box;
}

.guess-input-wrapper:has(input:disabled) {
  visibility: hidden;
}

/* Keyboard */

.keyboard {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 96%;
  margin: auto;
  padding: 0 8px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.keyboard-row:nth-child(3) {
  margin-left: calc(-6% + 3.6px);
}

.key {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  width: 8%;
  height: 48px;
  padding: 0 8px;
  border-radius: 4px;
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--color-gray-100);
  background: var(--color-gray-700);
}

.key.correct {
  color: white;
  background: var(--color-success);
}

.key.misplaced {
  color: white;
  background: var(--color-warning);
}

.key.incorrect {
  color: white;
  background: var(--color-gray-500);
}

.key.unused {
  color: var(--color-gray-100);
  background: var(--color-gray-700);
}

/* Banners */

.banner {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 32px;
  border-radius: 4px 4px 0 0;
  font-size: 1.5rem;
  text-align: center;
  animation: slideUp 750ms cubic-bezier(0, 0.72, 0.24, 1.02);
  will-change: transform;
}

.happy.banner {
  color: white;
  background: var(--color-warning);
}

.sad.banner {
  color: white;
  background: var(--color-error);
}

.play-again-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.play-again-button:focus {
  border-radius: 4px;
  outline: 2px solid white;
  outline-offset: 4px;
}

.play-again-button .key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 48px;
  border-radius: 4px;
  font-size: 1.125rem;
  font-weight: bold;
}

.play-again-button .key-spacer {
  width: 12px;
}

/* Modal */

[data-reach-dialog-content] {
  position: relative;
  padding: 24px 32px;
  border-radius: 8px;
}

.modal-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  cursor: pointer;
}

.modal-title {
  margin-bottom: 0.5em;
}

/* Utility */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip-path: rect(0 0 0 0);
}

/* Animations */

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}
